<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spectrial</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img src="/Content/Images/simple-logo.png" alt="Home page" border="0">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Who are we", "WhoAreWe", "Home")</li>
                    <li>@Html.ActionLink("Consulting", "Consulting", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "ContactUs", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <hr />
    <div class="container">
        <footer>
            <div class="row">
                <div style="text-align:left;" class="col-md-6">&copy; @DateTime.Now.Year - Spectrial Ltd</div>
                <div style="text-align: right;   border-right:1px solid;" class="col-md-5">@Html.ActionLink("Privacy policy", "Privacy", "Home")</div> 
                <div style="text-align: left;" class="col-md-1">@Html.ActionLink("Security", "Security", "Home")</div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
